.carrusel{
    display: flex;
    width: 80vw;
    height: auto; 
    position: relative;
    z-index: 1;
} 

.img-carousel {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 100vh;
    overflow: hidden;

}


.img-carousel img {
    justify-content: center;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

@media(max-width:600px){
    .img-carousel{
        height: 80vh;
    }
    .img-carousel{
        height: 80vh;

    }
}
