@font-face {
    font-family: 'LavishlyYours';
    src: url('./src/assets/LavishlyYours-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pompieri';
    src: url('ruta/del/archivo/Pompieri-Regular.woff2') format('woff2'),
        url('ruta/del/archivo/Pompieri-Regular.woff') format('woff');
    /* Agrega otros formatos de fuente según sea necesario */
    font-weight: normal;
    font-style: normal;
}

/*div banner*/
.banner {
    display: flex;
    flex-direction: column;
    background-color: rgb(157, 135, 119);
    width: 100vw;
    height: 25vh;
    border-radius: 20px;
    opacity: 0.8;
    margin-top: 40vh;
    position: absolute;
    z-index: 1;
    text-align: center;
    /* Añadido para centrar el texto horizontalmente */

    /* Añadido para alinear el contenido al centro verticalmente */
    align-items: center;
    justify-content: center;

}

/*titulo banner*/
.banner p {
    font-family: 'LavishlyYours', sans-serif;
    font-size: 8vw;
    color: white;
    margin: 0 0;
    padding: 0;
    position: relative;

}

/*subtitulo banner*/
.subtitulo {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.subtitulo p {
    color: white;
    font-size: 3vw;
    top: 17vh;
    font-family: 'Pompieri', sans-serif;
    position: absolute;
}

@media(max-width:600px){
    .banner{
        height: 18vh;
        
    }
    .banner p{
        font-size: 10vw;
    }
    .subtitulo p{
        font-size: 3.5vw;
        top: 12vh;
        padding: 5px;
    }
    .subtitulo{
        width: 90vw;

    }
}


